button {
    color: black;
    background-color: white;
}

.component-wrapper {
    position: relative;
}

.comments-wrapper {
    margin-left: 10px;
}

.link {
    margin-left: 5px;
    margin-right: 5px;
}

.blogpost-wrapper {

    margin-left: 0px;
}

.blogpost-wrapper h2 {
    margin-left: 0px;
}